# Team-A4

#Project - Air pollution level forecast

###Created by Akash deep Konda, Amit Anand, Sathwik Pendyala, Lohith krishna Pogala, Venkatakarteek Thota, Chaitanya Bandaru

##Mounting the drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##Importing the modules

In [2]:
#Importing libraries and loading dataset
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

def parse(x):
    return datetime.strptime(x, '%Y %m %d %H')
                          
orginal_col_names=["No", "year","month", "day", "hour", "pm2.5", "DEWP","TEMP", "PRES", "cbwd", "Iws", "Is", "Ir"]
new_col_names = ['pollution', 'dew', 'temp', 'pressure', 'w_dir', 'w_speed', 'snow', 'rain']   
                            
df = pd.read_csv('/content/drive/MyDrive/DMBI Project/Air_Pollution_data_2010-2014.csv',index_col=0, date_parser=parse,parse_dates=[['year', 'month', 'day', 'hour']])

In [3]:
df.head()

                     No  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00   1    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00   2    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00   3    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00   4    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00   5    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43824 entries, 2010-01-01 00:00:00 to 2014-12-31 23:00:00
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   pm2.5   41757 non-null  float64
 2   DEWP    43824 non-null  int64
 3   TEMP    43824 non-null  float64
 4   PRES    43824 non-null  float64
 5   cbwd    43824 non-null  object
 6   Iws     43824 non-null  float64
 7   Is      43824 non-null  int64
 8   Ir      43824 non-null  int64
dtypes: float64(4), int64(4), object(1)
memory usage: 3.3+ MB

In [5]:
df.describe()

,No,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

In [6]:
df1 = df.drop('No', axis=1)
df1.head()

                     pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [7]:
df1.columns = new_col_names
df1.index.name = "Date_Time"
df1.head()

                     pollution  dew  temp  pressure w_dir  w_speed  snow  rain
Date_Time
2010-01-01 00:00:00        NaN  -21 -11.0    1021.0    NW     1.79     0     0
2010-01-01 01:00:00        NaN  -21 -12.0    1020.0    NW     4.92     0     0
2010-01-01 02:00:00        NaN  -21 -11.0    1019.0    NW     6.71     0     0
2010-01-01 03:00:00        NaN  -21 -14.0    1019.0    NW     9.84     0     0
2010-01-01 04:00:00        NaN  -20 -12.0    1018.0    NW    12.97     0     0

In [8]:
df1.isnull().sum()

pollution    2067
dew             0
temp            0
pressure        0
w_dir           0
w_speed         0
snow            0
rain            0
dtype: int64

In [9]:
df2=df1.interpolate(method ='linear', limit_direction ='backward')
df2

                     pollution  dew  temp  pressure w_dir  w_speed  snow  rain
Date_Time
2010-01-01 00:00:00      129.0  -21 -11.0    1021.0    NW     1.79     0     0
2010-01-01 01:00:00      129.0  -21 -12.0    1020.0    NW     4.92     0     0
2010-01-01 02:00:00      129.0  -21 -11.0    1019.0    NW     6.71     0     0
2010-01-01 03:00:00      129.0  -21 -14.0    1019.0    NW     9.84     0     0
2010-01-01 04:00:00      129.0  -20 -12.0    1018.0    NW    12.97     0     0
...                        ...  ...   ...       ...   ...      ...   ...   ...
2014-12-31 19:00:00        8.0  -23  -2.0    1034.0    NW   231.97     0     0
2014-12-31 20:00:00       10.0  -22  -3.0    1034.0    NW   237.78     0     0
2014-12-31 21:00:00       10.0  -22  -3.0    1034.0    NW   242.70     0     0
2014-12-31 22:00:00        8.0  -22  -4.0    1034.0    NW   246.72     0     0
2014-12-31 23:00:00       12.0  -21  -3.0    1034.0    NW   249.85     0     0

[43824 rows x 8 columns]

In [10]:
df2.isnull().sum()

pollution    0
dew          0
temp         0
pressure     0
w_dir        0
w_speed      0
snow         0
rain         0
dtype: int64

In [11]:
df2.head()

                     pollution  dew  temp  pressure w_dir  w_speed  snow  rain
Date_Time
2010-01-01 00:00:00      129.0  -21 -11.0    1021.0    NW     1.79     0     0
2010-01-01 01:00:00      129.0  -21 -12.0    1020.0    NW     4.92     0     0
2010-01-01 02:00:00      129.0  -21 -11.0    1019.0    NW     6.71     0     0
2010-01-01 03:00:00      129.0  -21 -14.0    1019.0    NW     9.84     0     0
2010-01-01 04:00:00      129.0  -20 -12.0    1018.0    NW    12.97     0     0

In [12]:
df2.columns.tolist()

['pollution', 'dew', 'temp', 'pressure', 'w_dir', 'w_speed', 'snow', 'rain']

In [13]:
df2

                     pollution  dew  temp  pressure w_dir  w_speed  snow  rain
Date_Time
2010-01-01 00:00:00      129.0  -21 -11.0    1021.0    NW     1.79     0     0
2010-01-01 01:00:00      129.0  -21 -12.0    1020.0    NW     4.92     0     0
2010-01-01 02:00:00      129.0  -21 -11.0    1019.0    NW     6.71     0     0
2010-01-01 03:00:00      129.0  -21 -14.0    1019.0    NW     9.84     0     0
2010-01-01 04:00:00      129.0  -20 -12.0    1018.0    NW    12.97     0     0
...                        ...  ...   ...       ...   ...      ...   ...   ...
2014-12-31 19:00:00        8.0  -23  -2.0    1034.0    NW   231.97     0     0
2014-12-31 20:00:00       10.0  -22  -3.0    1034.0    NW   237.78     0     0
2014-12-31 21:00:00       10.0  -22  -3.0    1034.0    NW   242.70     0     0
2014-12-31 22:00:00        8.0  -22  -4.0    1034.0    NW   246.72     0     0
2014-12-31 23:00:00       12.0  -21  -3.0    1034.0    NW   249.85     0     0

[43824 rows x 8 columns]

In [14]:
df2 = df2.reset_index()

In [15]:
df3 = df2.resample('D', on='Date_Time').mean()
df3.head()

,pollution,dew,temp,pressure,w_speed,snow,rain
Date_Time,,,,,,,
2010-01-01,129.000000,-18.750000,-6.750000,1017.083333,14.458333,0.000000,0.0
2010-01-02,145.958333,-8.500000,-5.125000,1024.750000,24.860000,0.708333,0.0
2010-01-03,78.833333,-10.125000,-8.541667,1022.791667,70.937917,14.166667,0.0
2010-01-04,31.333333,-20.875000,-11.500000,1029.291667,111.160833,0.000000,0.0
2010-01-05,42.458333,-24.583333,-14.458333,1033.625000,56.920000,0.000000,0.0

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1826 entries, 2010-01-01 to 2014-12-31
Freq: D
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pollution  1826 non-null   float64
 1   dew        1826 non-null   float64
 2   temp       1826 non-null   float64
 3   pressure   1826 non-null   float64
 4   w_speed    1826 non-null   float64
 5   snow       1826 non-null   float64
 6   rain       1826 non-null   float64
dtypes: float64(7)
memory usage: 114.1 KB

In [17]:
p1 = df3['pollution']
p1

Date_Time
2010-01-01    129.000000
2010-01-02    145.958333
2010-01-03     78.833333
2010-01-04     31.333333
2010-01-05     42.458333
                 ...
2014-12-27    238.666667
2014-12-28    197.375000
2014-12-29    159.000000
2014-12-30     46.083333
2014-12-31     10.041667
Freq: D, Name: pollution, Length: 1826, dtype: float64

In [19]:
df3.describe()

,pollution,dew,temp,pressure,w_speed,snow,rain
count,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000
mean,98.261809,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,76.790165,14.167814,11.558576,10.073303,41.362414,0.545924,0.993655
min,2.958333,-33.333333,-14.458333,994.041667,1.412500,0.000000,0.000000
25%,42.343750,-10.083333,1.541667,1007.937500,5.908958,0.000000,0.000000
50%,79.187500,2.020833,13.895833,1016.229167,10.953958,0.000000,0.000000
75%,131.156250,15.072917,23.166667,1024.531250,22.230833,0.000000,0.000000
max,541.895833,26.208333,32.875000,1043.458333,463.187917,14.166667,17.583333

In [18]:
df3.to_csv("/content/drive/MyDrive/DMBI Project/Pollution_Cleaned_data.csv")